  <!-- ===== Footer ===== -->
  <footer class="footer">
    <div class="f-in">
      <div class="f-brand">
        <img class="f-logo" src="img/logo.png" alt="PriMo Nails" width="98" height="15.5">
        <p class="f-desc">L'eccellenza italiana nel mondo della ricostruzione e del design delle unghie. Prodotti professionali per risultati impeccabili.</p>
        <div class="social">
          <a href="#" data-todo aria-label="Instagram"><svg viewBox="0 0 24 24"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><path d="M17.5 6.5h.01"/></svg></a>
          <a href="#" data-todo aria-label="Facebook"><svg viewBox="0 0 24 24"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg></a>
          <a href="#" data-todo aria-label="YouTube"><svg viewBox="0 0 24 24"><path d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"/><path d="m10 15 5-3-5-3z"/></svg></a>
          <a href="#" data-todo aria-label="TikTok"><svg viewBox="0 0 24 24" class="fill"><path d="M16.6 5.82A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5 2.6 2.6 0 0 1 0-5.2c.27 0 .53.04.78.12V9.66a5.7 5.7 0 0 0-.78-.05A5.69 5.69 0 0 0 4.17 15.3a5.69 5.69 0 0 0 5.69 5.69 5.69 5.69 0 0 0 5.69-5.69V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3a4.3 4.3 0 0 1-3.25-1.48Z"/></svg></a>
          <a href="#" data-todo aria-label="Telegram"><svg viewBox="0 0 24 24"><path d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z"/><path d="m21.854 2.147-10.94 10.939"/></svg></a>
        </div>
      </div>
      <div class="acc" id="acc">
        <details><summary>Shop<svg viewBox="0 0 24 24"><path d="m6 9 6 6 6-6"/></svg></summary>
          <ul><li><a href="catalogo.html">Tutti i Prodotti</a></li><li><a href="catalogo.html?ordina=novita">Nuovi Arrivi</a></li><li><a href="index.html#seasons">Collezioni</a></li><li><a href="catalogo.html?cat=accessori">Accessori</a></li><li><a href="catalogo.html?ordina=offerte">Offerte</a></li></ul></details>
        <details><summary>Formazione<svg viewBox="0 0 24 24"><path d="m6 9 6 6 6-6"/></svg></summary>
          <ul><li><a href="academy.html">Corsi Online</a></li></ul></details>
        <details><summary>Azienda<svg viewBox="0 0 24 24"><path d="m6 9 6 6 6-6"/></svg></summary>
          <ul><li><a href="chi-siamo.html">La Nostra Storia</a></li><li><a href="mailto:primonailspro@gmail.com">Contatti</a></li><li><a href="#" data-todo>Spedizioni</a></li><li><a href="#" data-todo>Privacy Policy</a></li><li><a href="#" data-todo>Termini</a></li></ul></details>
      </div>
      <div class="f-bottom">
        <p class="copy">© 2026 PriMo Nails. Tutti i diritti riservati.</p>
        <div class="contacts">
          <p class="contact"><svg viewBox="0 0 24 24"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg><a href="mailto:primonailspro@gmail.com">primonailspro@gmail.com</a></p>
          <p class="contact"><svg viewBox="0 0 24 24"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"/></svg><a href="tel:+393893193049">+39 389 319 3049</a></p>
        </div>
        <div class="pay" aria-label="Metodi di pagamento">
          <span class="visa">VISA</span>
          <span class="mc"><i class="mc1"></i><i class="mc2"></i></span>
          <span class="amex"><b>AMEX</b></span>
          <span class="ap"><svg viewBox="0 0 24 24"><path d="M16.4 12.7c0-2.2 1.8-3.2 1.9-3.3-1-1.5-2.6-1.7-3.2-1.7-1.4-.1-2.6.8-3.3.8s-1.7-.8-2.8-.8c-1.4 0-2.8.9-3.5 2.1-1.5 2.6-.4 6.5 1.1 8.6.7 1 1.6 2.2 2.7 2.2 1.1 0 1.5-.7 2.8-.7s1.7.7 2.8.7c1.2 0 1.9-1 2.6-2.1.8-1.2 1.1-2.3 1.2-2.4-.1 0-2.3-.9-2.3-3.4ZM14.3 6.3c.6-.7 1-1.7.9-2.7-.9 0-1.9.6-2.5 1.3-.5.6-1 1.6-.9 2.6 1 .1 1.9-.5 2.5-1.2Z"/></svg>Pay</span>
          <span class="gp"><b>G</b> Pay</span>
        </div>
      </div>
    </div>
  </footer>
